* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

input,
textarea {
  font-family: "Poppins", sans-serif;
}

/* COMMON CODE */
.main-content {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

:root {
  --primary-color: #000339;
  --sub-color: #5a6473;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 8px;
  background: #0f1b4c;
  font-weight: 500;
  line-height: normal;
  height: 50px;
}

/* NAVIGATION */
.navbar {
  padding-top: 26px;
  background: #e6f0ff;
  position: sticky;
  top: -26px;
  z-index: 10;
}

.navbar-content {
  padding: 12px 0;
}

.navbar-content,
.nav,
.nav-cta {
  display: flex;
  align-items: center;
}

.nav {
  margin-left: 46px;
}

.nav a {
  display: inline-block;
  padding: 14px 18px;
  color: #4f5361;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: normal;
  transition: 0.3s linear;
}

.nav a:hover {
  text-shadow: 0 0 1px;
}

.nav-cta {
  margin-left: auto;
}

.nav-cta a:first-child {
  color: #0f1b4c;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: normal;
}

.nav-cta a:first-child:hover {
  text-decoration: underline;
}

.nav-cta__btn {
  font-size: 1.4rem;
  margin-left: 18px;
  height: 40px;
  min-width: 98px;
}

/* HERO */
.hero {
  position: relative;
  padding-top: 126px;
  height: calc(100vh - 80.8px);
  background: #e6f0ff;
}

/* HERO CONTENT */
.hero-info__sub {
  color: #687690;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.18px;
}

.hero-info__tittle {
  width: 560px;
  margin-top: 8px;
  color: var(--primary-color);
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1875; /* 118.75% */
}

.hero-info__desc {
  margin-top: 30px;
  width: 560px;
  color: var(--sub-color);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.77777; /* 177.778% */
}

.hero-info__cta {
  margin-top: 40px;
  display: flex;
}

.hero-info__cta .hero-info__btn {
  min-width: 170px;
}

/* HERO HOUSE IMAGE */
.hero-img {
  position: absolute;
  bottom: 0;
  right: 65px;
}

/* CLIENTS */
.clients {
  margin-top: 80px;
}

.clients-content {
  padding: 42px 0;
}

/* EVALATE CLIENTS */
.evaluate-clients .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.evaluate-clients .row-2 {
  margin-top: 23px;
  color: #7d8589;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25; /* 125% */
}

.evaluate-clients .row-2 p:last-child {
  transform: translateY(-50%);
}

/* CLIENTS LIST */
.clients-list,
.clients-list .clients-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-list {
  margin-top: 70px;
  justify-content: space-between;
}

.clients-list__item {
  width: 205px;
  height: 90px;
  transition: 0.1s linear;
}

.clients-list__item:hover {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

/* HOW ITS WORKS */
.hiw {
  padding: 80px 0;
  margin-top: 40px;
}

.hiw-content {
  margin-left: auto;
  margin-right: auto;
}

/* HOW ITS WORKS HEADING */
.hiw-heading {
  text-align: center;
}

.hiw-heading__tittle {
  position: relative;
  margin-bottom: 20px;
  color: var(--primary-color);
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.hiw-heading__tittle::before {
  position: absolute;
  top: -10px;
  left: 50%;
  border-radius: 12px;
  transform: translateX(-50%);
  display: inline-block;
  content: "";
  height: 4px;
  width: 40px;
  background: var(--primary-color);
}

.hiw-heading__desc {
  margin: 0 auto;
  width: 460px;
  color: var(--sub-color);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875; /* 187.5% */
}

/* HOW ITS WORKS LITS */
.hiw-list {
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hiw-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hiw-item img {
  height: 48px;
  width: 48px;
}

.hiw-item__name {
  margin-top: 26px;
  color: #3b3c45;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1; /* 110% */
}

.hiw-item_cta {
  margin-top: 10px;
  display: flex;
  align-items: center;
  color: #0689ff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: normal;
}

.right-direction {
  margin-left: 8px;
}

/* FEATURE ONE */
.fo {
  padding: 110px 0;
  background: #f5fafe;
}

/* FEATURE ONE HEADING */
.fo-heading__name {
  margin-bottom: 15px;
  color: var(--primary-color);
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.fo-cta {
  display: flex;
  align-items: center;
}

.fo-cta p {
  margin-right: auto;
  color: var(--sub-color);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875; /* 187.5% */
}

.fo-cta__btn {
  color: #0689ff;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
  transition: 0.1s linear;
}

.fo-cta__btn:hover {
  text-shadow: 0 0 1px;
}

/* FEATURE ONE CARDS */
.cards {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.fo-card {
  overflow: hidden;
  cursor: pointer;
}

.fo-card:hover .fo-card__img {
  scale: 1.1;
}

.fo-card__content {
  padding: 18px 0 24px 20px;
  border-radius: 0 0 12px 12px;
  background: #fff;
  box-shadow: 0px 65px 80px -46px rgba(226, 238, 249, 0.6);
}

.fo-card__img {
  width: 100%;
  height: 228px;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
  object-position: center;
  transition: 0.2s linear;
  overflow: hidden;
}

.fo-card__name {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.fo-card__desc {
  margin-top: 10px;
  color: #a3a6ab;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: normal;
}

.fo-card__produce {
  margin-top: 22px;
  display: flex;
  align-items: center;
  gap: 22px;
}

.fo-card__produce-item {
  display: flex;
  align-items: center;
}

.fo-card__produce-item span {
  margin-left: 8px;
  color: #4d4d52;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1; /* 100% */
  letter-spacing: 0.14px;
}

/* FEATURE TWO */
.ft {
  padding: 50px 0;
  margin-top: 75px;
}

.ft-content {
  display: flex;
  justify-content: space-around;
}

.ft-social__img {
  margin-left: 120px;
  width: 400px;
  height: 460px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
  box-shadow: 40px 80px 155px 0px rgba(30, 103, 113, 0.03);
}

/* FEATURE TWO SOCIAL */
.ft-social {
  position: relative;
}

.ft-social__content {
  width: 240px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 45px 22px 40px;
  border-radius: 0px 0px 12px 12px;
  background: #fff;
  box-shadow: 90px 85px 100px 0px rgba(0, 0, 0, 0.06);
}

.fluctuations {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fluctuations span {
  color: var(--primary-color);
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 26px; /* 100% */
  letter-spacing: 0.26px;
}

.ft-social__content-desc {
  margin-top: 8px;
  width: 195px;
  color: #a7a7a7;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5; /* 150% */
}

.line {
  margin-top: 25px;
  width: 100%;
  height: 1.2px;
  background: #e9e9e9;
}

.ft-social__content-user,
.ft__user-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.ft-social__content-user {
  margin-top: 10px;
  row-gap: 16px;
}

.ft__user-item {
  margin-right: 14px;
}

.ft__user-item img {
  margin-left: -3px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

/*  FEATURE TWO INFO */
.ft-info {
  margin-top: 80px;
  margin-left: 139px;
}

.ft-info__tittle {
  position: relative;
  width: 270px;
  color: var(--primary-color);
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.28571; /* 128.571% */
}

.ft-info__tittle::before {
  position: absolute;
  top: -10px;
  content: "";
  display: inline-block;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: var(--primary-color);
}

.ft-info__desc {
  width: 310px;
  margin-top: 20px;
  color: var(--sub-color);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875; /* 187.5% */
}

/* FEATURE TWO STATISTICAL */
.ft-statistical {
  width: 100%;
  margin-top: 110px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.ft__statistical-item span {
  color: #000;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.ft__statistical-item__desc {
  color: #7b8087;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: normal;
}

/* NEWSLETTER */
.new {
  margin-top: 50px;
}

.new-content {
  position: relative;
  padding: 110px 0 110px 80px;
  border-radius: 20px;
  background: #063183;
}

/* NEWSLETTER INFOMATION*/
.new-info__tittle {
  margin-bottom: 15px;
  color: #fff;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.new-info__desc {
  margin-bottom: 30px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875; /* 187.5% */
}

.new-info__cta {
  display: flex;
}

.new-btn {
  min-width: 150px;
  border-radius: 12px;
  background: #fff;
  color: var(--primary-color);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: normal;
}

/* NEWSLETTER IMAGE */
.new-img {
  display: block;
  position: absolute;
  right: 221px;
  top: -28px;
}

/* FOOTER */
footer {
  margin-top: 55px;
}

.footer-content {
  padding-top: 50px;
}

/* FOOTER CONTENT */
.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-item__heading {
  color: #1c1c1d;
  font-family: Lato;
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
}

.footer-item__content {
  margin-top: 24px;
}

.footer-item__content li a,
.footer-item__content p {
  display: inline-block;
  padding-top: 18px;
  color: #7a7a7e;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
}

.footer-item__content p {
  width: 257px;
  margin: 2px 0 40px;
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
  padding-bottom: 58px;
}

.footer-footer p {
  color: #c2c2c2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;
}
