* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins";
}

/* COMMON */
:root {
    --primary-color: #0f1b4c;

}

a {
    text-decoration: none;
    color: #000;
}

.content {
    width: 1110px;
    margin: auto;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 15px 0;
    background: var(--primary-color);
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.53;
    text-align: center;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.8;
}

/* ========HEADER========= */
.fixed-header {
    background: #e6f0ff;
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
}

nav {
    padding: 12px 0;
    display: flex;
    align-items: center;
    position: relative;
}

nav .navigation {
    display: flex;
    margin-left: 64px;
}

nav .navigation li {
    padding: 0 14px;
}

nav .navigation a {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #4f5361;
}

nav .navigation a:hover {
    text-decoration: underline;
}

nav .sign-btn {
    right: 0;
    position: absolute;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: var(--primary-color);
}

nav .sign-btn .sign-up {
    border-radius: 8px;
    padding: 9px 0;
    margin-left: 18px;
}

/* ========CONTENT HEADER======== */
.hero {
    position: relative;
    height: 100vh;
    background: #e6f0ff;
    display: flex;
    flex-direction: column;
}

.hero .content-header {
    width: 560px;
    /* margin-top: 165px; */
}

.hero .content-header .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .content-header .title {
    font-weight: 700;
    font-size: 6.3rem;
    line-height: 1.2;
    color: #000336;
}

.hero .content-header .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #5a6473;
}

.hero .content-header .action-header {
    margin-top: 40px;
    min-width: 170px;
}

.hero .house-logo {
    position: absolute;
    bottom: 0;
    right: calc((100% - 1110px) / 2 - 100px);
}

/* ========CLIENTS======== */
.clients {
    margin-top: 80px;
}

.clients .evaluate {
    display: flex;
    justify-content: space-between;
    padding-top: 43px;
}

.clients .evaluate .desc {
    margin-top: 23px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7d8589;
}

/* ========CLIENTS-LOGO======== */
.clients .client-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    padding-bottom: 41px;
}

.clients .client-logo a {
    height: 90px;
    padding: 32px 41px 23px;
    border-radius: 12px;
}

.clients .client-logo a:hover {
    box-shadow: 0px 45px 80px rgba(0, 0, 0, 0.04);
}

/* ========GUIDES======== */
.guides {
    width: 685px;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 80px;
}

.guides .header {
    padding-top: 93px;
    text-align: center;
}
.guides .header .heading {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
    margin-bottom: 20px;
}

.guides .header .heading::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.guides .header .desc {
    margin: auto;
    max-width: 460px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.875;
    color: #5a6473;
}

.guides .seller {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.guides .seller .logo-guide {
    margin-left: 43px;
}

.guides .seller h3 {
    margin-top: 34px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
    color: #3b3c45;
}

.guides .seller span {
    display: inline-block;
    margin: 10px 8px 0 11px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #0689ff;
}

.btn-sell {
    margin-left: 258px;
    min-width: 170px;
    margin-top: 50px;
}

/* ======== FEATURES ======== */
.feature {
    background: #f5fafe;
    margin-top: 40px;
    padding-bottom: 110px;
}

.feature .opening h2 {
    padding-top: 110px;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}

.feature .sub-title {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.feature .sub-title .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.875;
    color: #5a6473;
}

.feature .sub-title span {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #0689ff;
    margin-right: 8px;
}

/* ======== FEATURES-ONE CARDS ======== */
.cards {
    margin-top: 70px;
    display: flex;
    gap: 30px;
}

.cards .card-item {
    background-color: #fff;
    box-shadow: 0px 65px 80px -46px rgba(226, 238, 249, 0.6);
    border-radius: 12px;
}

.cards .card-item > a > img {
    width: 350px;
    height: 227px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.cards .card-item > a > img:hover {
    opacity: 0.8;
}

.cards .card-item h3 {
    padding-left: 20px;
    margin-top: 17px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    color: #000339;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cards .card-item .desc {
    margin-top: 11px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #a3a6ab;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cards .overall {
    display: flex;
    padding-left: 20px;
    padding: 21px 0 22px 20px;
}

.cards .quantity {
    display: flex;
    align-items: center;
}

.cards .quantity span {
    margin-left: 11px;
    margin-right: 23px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: #444444;
}

/* ======== STATS ======== */
.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .content {
    width: 1017px;
}

.stats .row {
    display: flex;
}

.stats .img-block,
.stats .infor {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats .img-block > img {
    display: block;
    width: 400px;
    height: 460px;
    object-fit: cover;
    margin-left: auto;
    border-radius: 12px;
}

.trend {
    width: 240px;
    position: absolute;
    top: 0;
    padding: 40px 23px 45px;
    background: #fff;
    box-shadow: 90px 85px 100px rgba(0, 0, 0, 0.06);
    border-radius: 0px 0px 12px 12px;
}

.trend .row {
    display: flex;
}

.trend .row .value {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #000339;
}

.trend .row img {
    width: 25.11px;
    height: 16.03px;
    object-fit: cover;
}

.trend .desc {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 8px;
    color: #a7a7a7;
}

.trend .seperate {
    margin-top: 25px;
    border: 1px solid #e9e9e9;
}

.trend .user {
    margin-top: 26px;
    display: flex;
    flex-wrap: wrap;
}

.trend .user-logo {
    display: flex;
    margin-right: 14px;
}

.trend .user-logo img {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin-left: -3px;
}

.trend .user-logo .avatar {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin-left: -3px;
    background-color: #0689ff;
    font-weight: 450;
    font-size: 7.26076px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.stats .infor {
    margin-top: 80px;
    padding-left: 165px;
}

.stats .infor .sub-title {
    position: relative;
    width: 269px;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.28;
    color: #000339;
}

.stats .infor .sub-title::before {
    position: absolute;
    top: -10px;
    content: "";
    display: block;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.stats .infor .desc {
    width: 309px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}

.stats .data {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
    margin-left: 32px;
}

.stats .data .value {
    font-weight: 600;
    font-size: 6.4rem;
    line-height: 1;
    color: #000000;
}

.stats .data .desc {
    margin-top: 24px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #7b8087;
}

/* ======== SUBSCRIPTION ======== */
.subcription {
    margin-top: 106px;
}

.subcription .body {
    display: flex;
    align-items: center;
    background: #063183;
    border-radius: 20px;
    height: 370px;
}

.subcription .infor {
    padding: 0 80px;
}

.subcription .infor .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #ffffff;
}

.subcription .infor .desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #ffffff;
    opacity: 0.75;
}

.subcription .infor .btn {
    margin-top: 20px;
    min-width: 151px;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.5;
    color: #002366;
    background: #ffffff;
}

.subcription .home-icon {
    margin-bottom: 36px;
}

/* ======== FOOTER ======== */
.footer {
    margin-top: 55px;
}

.footer .produce {
    display: flex;
    justify-content: space-between;
}

.footer .produce h3 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.2;
    color: #1c1c1d;
    margin-top: 50px;
    margin-bottom: 42px;
}

.footer .produce-list li {
    margin-bottom: 18px;
}

.footer .produce-list a {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #7a7a7e;
}

.footer .produce-list a:hover {
    text-decoration: underline;
}

.footer .produce .desc {
    max-width: 257px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #7a7a7e;
    margin-bottom: 50px;
}

.footer .contact img {
    margin-right: 16px;
    left: 70.69%;
    right: 27.33%;
    background: #f9f9f9;
}

.footer .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 81px;
    margin-bottom: 58px;
}

.footer .row .desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #c2c2c2;
}
