* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

input,
textarea {
  font-family: "Poppins", sans-serif;
}

/* COMMON CODE */
.main-content {
  width: 1110px;
  max-width: calc(100%-48px);
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

:root {
  --primary-color: #000339;
  --sub-color: #5a6473;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 8px;
  background: #0f1b4c;
  font-weight: 500;
  line-height: normal;
  height: 50px;
}

/* NAVIGATION */
.navbar {
  padding-top: 32px;
  background: #e6f0ff;
  position: sticky;
  top: -20px;
  z-index: 10;
}

.navbar-content,
.nav,
.nav-cta {
  display: flex;
  align-items: center;
}

.nav {
  margin-left: 46px;
}

.nav a {
  display: inline-block;
  padding: 14px 18px;
  color: #4f5361;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: normal;
  transition: 0.3s linear;
}

.nav a:hover {
  text-shadow: 0 0 1px;
}

.nav-cta {
  margin-left: auto;
}

.nav-cta a:first-child {
  color: #0f1b4c;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: normal;
}

.nav-cta a:first-child:hover {
  text-decoration: underline;
}

.nav-cta__btn {
  font-size: 1.4rem;
  margin-left: 18px;
  height: 40px;
  min-width: 98px;
}

/* HERO */
.hero {
  position: relative;
  padding-top: 126px;
  height: calc(100vh - 80.8px);
  background: #e6f0ff;
}

/* HERO CONTENT */
.hero-content {
}

.hero-info__sub {
  color: #687690;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.18px;
}

.hero-info__tittle {
  width: 560px;
  margin-top: 8px;
  color: var(--primary-color);
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1875; /* 118.75% */
}

.hero-info__desc {
  margin-top: 30px;
  width: 560px;
  color: var(--sub-color);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.77777; /* 177.778% */
}

.hero-info__cta {
  margin-top: 40px;
  display: flex;
}

.hero-info__cta .hero-info__btn {
  min-width: 170px;
}

/* HERO HOUSE IMAGE */
.hero-img {
  position: absolute;
  bottom: 0;
  right: 110px;
}

/* CLIENTS */
.clients {
  margin-top: 80px;
}

.clients-content {
  padding: 42px 0;
}

/* EVALATE CLIENTS */
.evaluate-clients .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.evaluate-clients .row-2 {
  margin-top: 23px;
  color: #7d8589;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25; /* 125% */
}

.evaluate-clients .row-2 p:last-child {
  transform: translateY(-50%);
}

/* CLIENTS LIST */
.clients-list,
.clients-list .clients-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-list {
  margin-top: 70px;
  justify-content: space-between;
}

.clients-list__item {
  width: 205px;
  height: 90px;
  transition: 0.1s linear;
}

.clients-list__item:hover {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

/* HOW ITS WORKS */
.hiw {
  padding: 80px 0;
  margin-top: 40px;
}

.hiw-content {
  width: 685px;
  margin-left: auto;
  margin-right: auto;
}

/* HOW ITS WORKS HEADING */
.hiw-heading {
  text-align: center;
}

.hiw-heading__tittle {
  position: relative;
  margin-bottom: 20px;
  color: var(--primary-color);
  font-size: 35px;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.hiw-heading__tittle::before {
  position: absolute;
  top: -10px;
  left: 50%;
  border-radius: 12px;
  transform: translateX(-50%);
  display: inline-block;
  content: "";
  height: 4px;
  width: 40px;
  background: var(--primary-color);
}

.hiw-heading__desc {
  margin: 0 auto;
  width: 460px;
  color: var(--sub-color);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875; /* 187.5% */
}

/* HOW ITS WORKS LITS */
.hiw-list {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hiw-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hiw-item img {
  height: 48px;
  width: 48px;
}

.hiw-item__name {
  margin-top: 26px;
  color: #3b3c45;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1; /* 110% */
}

.hiw-item_cta {
  margin-top: 10px;
  display: flex;
  align-items: center;
  color: #0689ff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: normal;
}

.right-direction {
  margin-left: 8px;
}

/* FEATURE ONE */
.fo {
  padding: 110px 0;
  background: #f5fafe;
}

/* FEATURE ONE HEADING */
.fo-heading__name {
  margin-bottom: 15px;
  color: var(--primary-color);
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.fo-cta {
  display: flex;
  align-items: center;
}

.fo-cta p {
  margin-right: auto;
  color: var(--sub-color);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875; /* 187.5% */
}

.fo-cta__btn {
  color: #0689ff;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
  transition: 0.1s linear;
}

.fo-cta__btn:hover {
    text-shadow: 0 0 1px;
}
